<html>
<head>
<style>
div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
</style>
</head>
<body>

<h2>Phạm Thanh Tú - 1921050641</h2>

<div>Phạm Thanh Tú - 1921050641.</div>

</body>
</html>
<html>
<head>
<style>
div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}
</style>
</head>
<body>

<h2>Phạm Thanh Tú - 1921050641</h2>

<div>Phạm Thanh Tú - 1921050641.</div>

</body>
</html>
<html>
<head>
<style>
div {
  max-width: 500px;
  height: 100px;
  background-color: powderblue;
}
</style>
</head>
<body>

<h2>Phạm Thanh Tú - 1921050641</h2>

<div>Phạm Thanh Tú - 1921050641.</div>

<p>Phạm Thanh Tú - 1921050641</p>

</body>
</html>