
  <!DOCTYPE html>
  <html>
  <head>
  <style>
  body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  </style>
  </head>
  <body>
  
  <h1>Phạm Thanh Tú - 1921050641</h1>
  <p>Phạm Thanh Tú - 1921050641</p>
  
  </body>
  </html>
  
  
  