<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
} 
</style>
</head>
<body>

<h1>Phạm Thanh Tú - 1921050641</h1>
<p>Phạm Thanh Tú - 1921050641</p>

</body>
</html>

