<html>
<head>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>

<div>
  <h1>text formatting</h1>
  <p>Phạm Thanh Tú - 1921050641.
  <a target="_blank" href="tryit.asp?filename=trycss_text">"Try it Yourself"</a> link.</p>
</div>

</body>
</html>
<html>
<head>
<style>
body {
  color: blue;
}

h1 {
  color: green;
}
</style>
</head>
<body>

<h1>Phạm Thanh Tú - 1921050641.</h1>
<p>Phạm Thanh Tú - 1921050641.</p>
<p>Another paragraphPhạm Thanh Tú - 1921050641.</p>
</body>
</html>
<html>
<head>
<style>
body {
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
}

div {
  background-color: blue;
  color: white;
}
</style>
</head>
<body>

<h1>Phạm Thanh Tú - 1921050641</h1>
<p>Phạm Thanh Tú - 1921050641</p>
<div>Phạm Thanh Tú - 1921050641.</div>

</body>
</html>
<html>
<head>
<style>
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}
</style>
</head>
<body>

<h1>Phạm Thanh Tú - 1921050641</h1>
<h2>Phạm Thanh Tú - 1921050641</h2>
<h3>Phạm Thanh Tú - 1921050641</h3>

<p>Phạm Thanh Tú - 1921050641.</p>

</body>
</html>
<html>
<head>
<style>
div {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 200px;
  text-align: justify;
}
</style>
</head>
<body>

<h1>Phạm Thanh Tú - 1921050641</h1>

<p>Phạm Thanh Tú - 1921050641.</p>

<div>
    Phạm Thanh Tú - 1921050641
</div>

</body>
</html>
<html>
<head>
<style>
p.a {
  text-align-last: right;
}

p.b {
  text-align-last: center;
}

p.c {
  text-align-last: justify;
}
</style>
</head>
<body>

<h1>The text-align-last Property</h1>

<h2>text-align-last: right:</h2>
<p class="a">Phạm Thanh Tú - 1921050641.</p>

<h2>text-align-last: center:</h2>
<p class="b">Phạm Thanh Tú - 1921050641</p>

<h2>text-align-last: justify:</h2>
<p class="c">Phạm Thanh Tú - 1921050641.</p>

</body>
</html>