@model MvcMovie.Model.Person

@{
    ViewData["Title"] = "Person Details";
}

<h2>Chi tiết Person</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">PersonId</dt>
        <dd class="col-sm-10">@Model.PersonId</dd>
        <dt class="col-sm-2">Họ tên</dt>
        <dd class="col-sm-10">@Model.FullName</dd>
        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">@Model.Address</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
